<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>Categories:</p>
    <a href="./snowboards">Snowboards</a> <br>
    <a href="./boots">Boots</a> <br>
    <a href="./bindings">Bindings</a> <br>
  </body>
</html>
